h1 {
  font-size: 2em;
  color: white;
  font-style: bold;
border-bottom: 50px;
padding-left: 10px;
display: inline-table;


}

h1 > span {

  position:relative;
  font-family: serif;
horizon-align: bottom;
font-size: 0.5em;
padding-left: 50px;
border-bottom: 50px;
}

h1 span> .s {

  position:relative;
  font-family: serif;
horizon-align: bottom;

padding-left: 30px;
border-bottom: 50px;
}

 .d{
   background-color:grey;
   background-size: auto;
 }

.tst{
line-height: 10em;
  display: inline;
  padding: 15px;
  padding-right: 200px;
  padding-bottom: 30px;
  padding-top: 30px;
    color: white;
     background-color:purple;
    background-size: auto;
    border-right: 50px;
}

 .tsd{
line-height: 10em;
  display:inline;
  padding: 15px;
  padding-right: 200px;
  padding-bottom: 30px;
  padding-top: 30px;
    color: white;
     background-color:purple;
    background-size: auto;

}
